{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <h2>Staff::Home</h2>
        <h4>{{quiz.title}}</h4>

        {% comment %}
            <p>{{question_form}}</p>
            <p>{{text_form}}</p>
         {% endcomment %}

         {% if question_form %}

            <div class="question-form">
                <form action="{% url 'staff:detail' quiz_pk %}" method="post">
                    {% csrf_token %}
                    {{ question_form.as_p }}
                    <input type="hidden" name="" value="{{quiz}}">
                    <button type="submit">
                        Submit
                    </button>
                </form>
            </div>

        {% endif %}

        {% comment %}

            {% if answer_type == "text" %}
                <form action="{% url 'staff:detail' quiz_pk %}" method="post">
                    {% csrf_token %}
                    {{ text_form.as_p }}
                    <button type="submit">
                        Submit
                    </button>
                </form>

            {% elif answer_type == "radio" %}
                {% if formset %}
                    <form action="{% url 'staff:detail' quiz_pk %}" method="post">

                        {% csrf_token %}

                        {{ formset.management_form }}
                        {% if formset.form.forms %}
                            {{ formset.form.management_form }}

                            {% for form in formset.form.forms %}
                                {{form.as_p}}
                                <br><br>
                            {% endfor %}

                        {% endif %}

                        <input type="submit" value="Submit">
                    </form>
                {% else %}
                <form action="{% url 'staff:detail' quiz_pk %}" method="post">
                        {% csrf_token %}
                        {{ multiple_choice_form.as_p }}
                        <button type="submit">
                            Submit
                        </button>
                    </form>
                {% endif %}

            {% endif %}

         {% endcomment %}

         {% if questions %}
            <div class="question-list d-flex flex-column">
                {% for question in questions %}
                    <div><a href="">{{forloop.counter}}. {{question.title}} - {{question.answer_type}}</a></div>
                {% endfor %}
            </div>

        {% endif %}

    </div>

{% endblock %}