{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <h2>Staff::RADIO VIEW</h2>
        <h4>{{quiz.title}}</h4>
        <input type="hidden" name="number" value="{{number}}">

        {% if note %}
            <p>{{note}}</p>
        {% endif  %}

        <div class="radio-form">
            <form action="{% url 'staff:radio' %}" method="post">

                {% csrf_token %}

                {{ formset.management_form }}
                <table>
                    {% for form in formset %}
                        {{ form.as_p }}
                    {% endfor %}
                </table>

                    {% comment %}

                        {% if formset.form.forms %}
                            {{ formset.form.management_form }}

                            {% for form in formset.form.forms %}
                                {{form.as_p}}
                                <br><br>
                            {% endfor %}

                        {% endif %}

                    {% endcomment %}

                    <input type="submit" value="Submit">
                </form>

        </div>


        {% if questions %}
            <div class="question-list d-flex flex-column">
                {% for question in questions %}
                    <div><a href="">{{forloop.counter}}. {{question.title}} - {{question.answer_type}}</a></div>
                {% endfor %}
            </div>

        {% endif %}

    </div>

{% endblock %}