{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h2>Detail</h2>
    <h5>Welcome @{{user}}</h5>

    {% if questions %}
    <div class="question-list d-flex flex-column">
        {% for q in questions %}
            <div class="question">
                <h4>{{q.title}} - {{q.id}} - {{q.answer_type}}</h4>
                {% if q.answer_type == "radio" %}
                    <h6>Radio</h6>
                    <p>{{ q.radio_set.all }}</p>
<!--                    include 'snippets/quiz_radio_form.html -->
                {% elif q.answer_type == "text" %}
                    {% include 'snippets/quiz_text_form.html' with text_form=text_form %}
                {% endif %}
            </div>


        {% endfor %}

        {% if questions.has_other_pages %}
            <ul class="pagination">
                {% if questions.has_previous %}
                  <li><a href="?page={{ questions.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}

                {% for i in questions.paginator.page_range %}
                  {% if questions.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}

                {% if questions.has_next %}
                  <li><a href="?page={{ questions.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
        {% endif %}

    </div>

    {% endif %}

</div>
{% endblock %}