{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h2 class="text-center mt-3">Assignment</h2>
    <p class="d-none" id="catch_time">{{quiz.time}}</p></li>

    <div class="header d-flex flex-row justify-content-between mt-3 mb-3">
        <div class="left">
            <span>Welcome @<strong>{{user}}</strong> </span>
        </div>
        <div class="right info">
            <span>Time Remaining: <strong class="time" id="remaining_time">10:00</strong></span>
        </div>
    </div>

    <p id="page_id" class="d-none page_number">{{questions}}</p>

    {% if questions %}
    <div class="question-list d-flex flex-column">
            <div class="pagination col-4">
                {% if questions.has_other_pages %}
                    <ul class="pagination">
                        {% if questions.has_previous %}
                          <li class="mr-2"><a href="?page={{ questions.previous_page_number }}">Previous</a></li>
                        {% else %}
                          <li class="disabled mr-2"><span>Previous</span></li>
                        {% endif %}

                        {% for i in questions.paginator.page_range %}
                          {% if questions.number == i %}
                            <li class="active mr-2"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                          {% else %}
                            <li class="mr-2"><a href="?page={{ i }}">{{ i }}</a></li>
                          {% endif %}
                        {% endfor %}

                        {% if questions.has_next %}
                          <li class="mr-2"><a href="?page={{ questions.next_page_number }}">Next</a></li>
                        {% else %}
                          <li class="disabled mr-2"><span>Next</span></li>
                        {% endif %}
                      </ul>
                {% endif %}
            </div>

            {% for q in questions %}

            <div class="question">
                <h4>{{q.title}}</h4>
                <input type="hidden" name="question" value="{{q.id}}">
                {% if q.answer_type == "radio" %}
                    {% include 'snippets/quiz_radio_form.html' with quiz_pk=quiz_pk %}

                {% elif q.answer_type == "text" %}
                    {% include 'snippets/quiz_text_form.html' with text_form=text_form quiz_pk=quiz_pk %}
                {% endif %}
            </div>


        {% endfor %}


    </div>

    {% endif %}

</div>
{% endblock %}