{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h2>Detail</h2>
    <h5>Welcome @{{user}}</h5>

    {% if questions %}
    <div class="question-list d-flex flex-column">

            {% for q in questions %}

            <div class="question">
                <h4>{{q.title}} - {{q.answer_type}} - {{q.id}}</h4>
                <input type="hidden" name="question" value="{{q.id}}">
                {% if q.answer_type == "radio" %}
                    <p>{{ q.radio_set.all }}</p>
<!--                    include 'snippets/quiz_radio_form.html -->
                    <form action="{% url 'quiz:detail' quiz_pk %}" method="post">
                        {% csrf_token %}
                        {{ radio_form.as_p }}
                        <input type="hidden" name="question" value="{{q.pk}}">
                        <button type="submit">
                            Submit
                        </button>
                    </form>
                {% elif q.answer_type == "text" %}
                    {% include 'snippets/quiz_text_form.html' with text_form=text_form quiz_pk=quiz_pk %}
                {% endif %}
            </div>

        {% endfor %}


    </div>

    {% endif %}

</div>
{% endblock %}